<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>ceef08d0-656b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>WorkingTitle_CJ4</aircraftId>
    <airFileId>WorkingTitle_CJ4</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Selects the heading bug for use with +/-</Description>
          <SimulatorEventName>HEADING_BUG_SELECT</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>18</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>HEADING_BUG_SELECT</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Selects the vertical speed reference for use with +/-</Description>
          <SimulatorEventName>VSI_BUG_SELECT</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>19</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>VSI_BUG_SELECT</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Selects the altitude reference for use with +/-</Description>
          <SimulatorEventName>ALTITUDE_BUG_SELECT</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>20</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>ALTITUDE_BUG_SELECT</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Selects the airspeed reference for use with +/-</Description>
          <SimulatorEventName>AIRSPEED_BUG_SELECT</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>16</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>AIRSPEED_BUG_SELECT</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_FLC_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_FLC_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>6</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_FLC_PRESSED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_HDG_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_HDG_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_HDG_PRESSED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_VS_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_VS_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>5</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_VS_PRESSED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>Autopilot</Group>
          <Description>Toggles altitude hold mode</Description>
          <SimulatorEventName>AP_ALT_HOLD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SINGLE</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>AP_ALT_HOLD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_VNAV_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_VNAV_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>3</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_VNAV_PRESSED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_NAV_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_NAV_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_NAV_PRESSED</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Description>WT_CJ4_AP_APPR_PRESSED</Description>
          <SimulatorEventName>WT_CJ4_AP_APPR_PRESSED</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>HTML</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>2</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>WT_CJ4_AP_APPR_PRESSED</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts />
</TemplateExport>