<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Alpha Flight Controls</name>
      <guid>b1027a00-5f3f-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>GA</aircraftId>
    <airFileId>GA</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-master_battery_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>15</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-master_battery_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-master_battery_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>14</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-master_battery_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-avionics_bus1_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>16</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-avionics_bus1_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-avionics_bus1_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>18</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-avionics_bus1_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-avionics_bus2_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>19</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-avionics_bus2_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-avionics_bus2_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>18</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>100</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-avionics_bus2_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-beacon_lights_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>21</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-beacon_lights_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-beacon_lights_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>20</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-beacon_lights_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-landing_lights_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>23</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-landing_lights_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-landing_lights_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>22</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-landing_lights_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-magneto_both</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>33</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-magneto_both</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-magneto_left</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>32</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-magneto_left</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-magneto_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>30</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-magneto_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-magneto_right</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>31</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-magneto_right</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-magneto_start</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>34</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-magneto_start</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-master_alt_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-master_alt_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-master_alt_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-master_alt_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-nav_lights_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>27</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-nav_lights_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-nav_lights_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>26</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-nav_lights_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-strobe_lights_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>29</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-strobe_lights_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-strobe_lights_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>28</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-strobe_lights_on</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-taxi_lights_off</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>25</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-taxi_lights_off</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>GA</Group>
          <Description>RPN</Description>
          <SimulatorEventName>GA-taxi_lights_on</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>b1027a00-5f3f-11eb-8001-444553540000</joystickGuid>
        <joystickName>Alpha Flight Controls</joystickName>
        <joystickButton>24</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>GA-taxi_lights_on</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>GA</group>
      <label>master_battery_off</label>
      <script>0 (&gt;K:MASTER_BATTERY_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>master_battery_on</label>
      <script>1 (&gt;K:MASTER_BATTERY_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>avionics_bus1_off</label>
      <script>0 (&gt;K:AVIONICS_MASTER_1_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>avionics_bus1_on</label>
      <script>1 (&gt;K:AVIONICS_MASTER_1_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>avionics_bus2_off</label>
      <script>0 (&gt;K:AVIONICS_MASTER_2_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>avionics_bus2_on</label>
      <script>1 (&gt;K:AVIONICS_MASTER_2_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>beacon_lights_off</label>
      <script>0 (&gt;K:BEACON_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>beacon_lights_on</label>
      <script>1 (&gt;K:BEACON_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>landing_lights_off</label>
      <script>0 (&gt;K:LANDING_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>landing_lights_on</label>
      <script>1 (&gt;K:LANDING_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>magneto_both</label>
      <script>1 (&gt;K:MAGNETO_BOTH)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>magneto_left</label>
      <script>1 (&gt;K:MAGNETO_LEFT)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>magneto_off</label>
      <script>1 (&gt;K:MAGNETO_OFF)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>magneto_right</label>
      <script>1 (&gt;K:MAGNETO_RIGHT)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>magneto_start</label>
      <script>1 (&gt;K:MAGNETO_START)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>master_alt_off</label>
      <script>0 (&gt;K:ALTERNATOR_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>master_alt_on</label>
      <script>1 (&gt;K:ALTERNATOR_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>nav_lights_off</label>
      <script>0 (&gt;K:NAV_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>nav_lights_on</label>
      <script>1 (&gt;K:NAV_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>strobe_lights_off</label>
      <script>0 (&gt;K:STROBES_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>strobe_lights_on</label>
      <script>1 (&gt;K:STROBES_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>taxi_lights_off</label>
      <script>0 (&gt;K:TAXI_LIGHTS_SET)</script>
    </Script>
    <Script>
      <group>GA</group>
      <label>taxi_lights_on</label>
      <script>1 (&gt;K:TAXI_LIGHTS_SET)</script>
    </Script>
  </scripts>
</TemplateExport>