<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>ceef08d0-656b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>FBW_A32nx_exp_v2</aircraftId>
    <airFileId>FBW_A32nx_exp_v2</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-left_rotary_alt</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>20</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-left_rotary_alt</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-left_rotary_vs</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>19</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-left_rotary_vs</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-left_rotary_hdg</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>18</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-left_rotary_hdg</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-left_rotary_crs</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>17</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-left_rotary_crs</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-left_rotary_ias</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>16</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-left_rotary_ias</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-right_rotary_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-right_rotary_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-right_rotary_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>0</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-right_rotary_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-alt_mode_pull</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-alt_mode_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-alt_mode_push</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-spd_mode_pull</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-spd_mode_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickButton>0</joystickButton>
        <joystickPovControl>0</joystickPovControl>
        <joystickPovDirection>0</joystickPovDirection>
        <midiDeviceId>0</midiDeviceId>
        <midiChannel>0</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-spd_mode_push</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-vs_mode_pull</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-vs_mode_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickButton>0</joystickButton>
        <joystickPovControl>0</joystickPovControl>
        <joystickPovDirection>0</joystickPovDirection>
        <midiDeviceId>0</midiDeviceId>
        <midiChannel>0</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-vs_mode_push</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-appr_btn</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-loc_btn</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>2</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-loc_btn</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-hdg_mode_pull</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-hdg_mode_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-hdg_mode_push</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-ap2_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FBW_a32nx_exp</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_a32nx_exp-ap1_push</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>00000000-0000-0000-0000-000000000000</joystickGuid>
        <joystickButton>0</joystickButton>
        <joystickPovControl>0</joystickPovControl>
        <joystickPovDirection>0</joystickPovDirection>
        <midiDeviceId>0</midiDeviceId>
        <midiChannel>0</midiChannel>
        <midiEvent>0</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FBW_a32nx_exp-ap2_push</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>left_rotary_alt</label>
      <script>1 (&gt;L:fbw_knob_selector, number)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>left_rotary_vs</label>
      <script>2 (&gt;L:fbw_knob_selector, number) 1 (&gt;K:VSI_BUG_SELECT)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>left_rotary_hdg</label>
      <script>3 (&gt;L:fbw_knob_selector, number)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>left_rotary_crs</label>
      <script>4 (&gt;L:fbw_knob_selector, number)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>left_rotary_ias</label>
      <script>5 (&gt;L:fbw_knob_selector, number)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>right_rotary_dec</label>
      <script>(L:fbw_knob_selector, number) 1 == if{ 1 (&gt;K:FBW_a32nx_exp-alt_dec) } (L:fbw_knob_selector, number) 3 == if{ 1 (&gt;K:FBW_a32nx_exp-hdg_dec) } (L:fbw_knob_selector, number) 2 == if{ 1 (&gt;K:FBW_a32nx_exp-vs_dec) } (L:fbw_knob_selector, number) 5 == if{ 1 (&gt;K:FBW_a32nx_exp-spd_dec) }</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>right_rotary_inc</label>
      <script>(L:fbw_knob_selector, number) 1 == if{ 1 (&gt;K:FBW_a32nx_exp-alt_inc) } (L:fbw_knob_selector, number) 3 == if{ 1 (&gt;K:FBW_a32nx_exp-hdg_inc) } (L:fbw_knob_selector, number) 2 == if{ 1 (&gt;K:FBW_a32nx_exp-vs_inc) } (L:fbw_knob_selector, number) 5 == if{ 1 (&gt;K:FBW_a32nx_exp-spd_inc) }</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>alt_mode_pull</label>
      <script>1 (&gt;H:A320_Neo_FCU_ALT_PULL) 1 (&gt;H:A320_Neo_CDU_MODE_SELECTED_ALTITUDE)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>alt_mode_push</label>
      <script>1 (&gt;H:A320_Neo_FCU_ALT_PUSH) 1 (&gt;H:A320_Neo_CDU_MODE_MANAGED_ALTITUDE)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>spd_mode_pull</label>
      <script>1 (&gt;H:A320_Neo_FCU_SPEED_PULL)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>spd_mode_push</label>
      <script>1 (&gt;H:A320_Neo_FCU_SPEED_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>vs_mode_pull</label>
      <script>1 (&gt;H:A320_Neo_FCU_VS_PULL)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>vs_mode_push</label>
      <script>1 (&gt;H:A320_Neo_FCU_VS_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>appr_btn</label>
      <script>1 (&gt;H:A320_Neo_FCU_APPR_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>loc_btn</label>
      <script>1 (&gt;H:A320_Neo_FCU_LOC_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>hdg_mode_pull</label>
      <script>1 (&gt;H:A320_NEO_FCU_HDG_PULL)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>hdg_mode_push</label>
      <script>1 (&gt;H:A320_NEO_FCU_HDG_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>ap2_push</label>
      <script>1 (&gt;H:A320_Neo_FCU_AP_2_PUSH)</script>
    </Script>
    <Script>
      <group>FBW_a32nx_exp</group>
      <label>ap1_push</label>
      <script>1 (&gt;H:A320_Neo_FCU_AP_1_PUSH)</script>
    </Script>
  </scripts>
</TemplateExport>