<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>ceef08d0-656b-11eb-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>FBW_A32nx</aircraftId>
    <airFileId>FBW_A32nx</airFileId>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-left_rotary_hdg</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>18</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-left_rotary_hdg</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-left_rotary_vs</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>19</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-left_rotary_vs</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-left_rotary_alt</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>20</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-left_rotary_alt</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-left_rotary_ias</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>16</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-left_rotary_ias</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-spd_mode</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>6</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-spd_mode</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-vs_mode</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>5</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-vs_mode</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-alt_mode</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-alt_mode</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-hdg_mode</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>100</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-hdg_mode</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-loc_btn</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-loc_btn</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-right_rotary_inc</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>100</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-alt_rotary_inc</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-right_rotary_dec</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-right_rotary_dec</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FBW_A32nx</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FBW_A32nx-left_rotary_crs</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <modifier>0</modifier>
        <key>0</key>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <joystickGuid>ceef08d0-656b-11eb-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>17</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <virtualModifiers />
        <virtualKeys />
        <Action>FBW_A32nx-left_rotary_crs</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekEvents />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
  </template>
  <scripts>
    <Script>
      <group>FBW_A32nx</group>
      <label>left_rotary_hdg</label>
      <script>3 (&gt;L:fbw_knob_selector, Number) 1 (&gt;K:HEADING_BUG_SELECT)</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>left_rotary_vs</label>
      <script>2 (&gt;L:fbw_knob_selector, Number) 1 (&gt;K:VSI_BUG_SELECT)</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>left_rotary_alt</label>
      <script>1 (&gt;L:fbw_knob_selector, Number) 1 (&gt;K:ALTITUDE_BUG_SELECT)</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>left_rotary_ias</label>
      <script>5 (&gt;L:fbw_knob_selector, Number) 1 (&gt;K:AIRSPEED_BUG_SELECT)</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>spd_mode</label>
      <script>(A:AUTOPILOT SPEED SLOT INDEX, Number) 1 == if{ 2 (&gt;H:A320_Neo_CDU_MODE_MANAGED_SPEED) } els{ 1 (&gt;H:A320_Neo_CDU_MODE_SELECTED_SPEED) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>vs_mode</label>
      <script>(L:A320_NE0_FCU_STATE, Number) 1 == if{ 0 (&gt;H:A320_Neo_FCU_VS_ZERO, Number) 1 (&gt;H:A320_Neo_FCU_VS_HOLD, Number) 1 (&gt;K:AP_PANEL_ALTITUDE_HOLD, Number) 1 (&gt;K:AP_PANEL_VS_ON, Number) 0 (&gt;L:A320_NE0_FCU_STATE, Number) } els{ 0 (&gt;H:A320_Neo_FCU_VS_HOLD, Number) 1 (&gt;H:A320_Neo_FCU_VS_ZERO, Number) 1 (&gt;K:AP_PANEL_VS_ON) 0 (&gt;L:A320_NEO_FCU_FORCE_SELECTED_ALT, Number) 1 (&gt;L:A320_NE0_FCU_STATE, Number) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>alt_mode</label>
      <script>(A:AUTOPILOT ALTITUDE SLOT INDEX, Number) 1 == if{ 2 (&gt;H:A320_Neo_CDU_MODE_MANAGED_ALTITUDE) } els{ 1 (&gt;H:A320_Neo_CDU_MODE_SELECTED_ALTITUDE) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>hdg_mode</label>
      <script>(A:AUTOPILOT HEADING SLOT INDEX, Number) 1 == if{ 2 (&gt;H:A320_Neo_CDU_MODE_MANAGED_HEADING) } els{ 1 (&gt;H:A320_Neo_CDU_MODE_SELECTED_HEADING) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>loc_btn</label>
      <script>(L:A32NX_AUTOPILOT_LOC_MODE, Number) 0 == if{ 1 (&gt;K:AP_LOC_HOLD) 1 (&gt;L:A32NX_AUTOPILOT_LOC_MODE, Number) } els{ 0 (&gt;K:AP_LOC_HOLD) 0 (&gt;L:A32NX_AUTOPILOT_LOC_MODE, Number)}</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>right_rotary_inc</label>
      <script>(L:fbw_knob_selector, Number) 1 == if{ 3 (A:AUTOPILOT ALTITUDE LOCK VAR:3, Feet) (L:XMLVAR_Autopilot_Altitude_Increment) + (&gt;K:2:AP_ALT_VAR_SET_ENGLISH) } (L:fbw_knob_selector, Number) 3 == if{ 1 (&gt;K:HEADING_BUG_INC) 1 (&gt;H:A320_Neo_CDU_AP_INC_HEADING) } (L:fbw_knob_selector, Number) 2 == if{ 1 (&gt;K:KEY_PLUS, Keyevent) } (L:fbw_knob_selector, Number) 5 == if{ 1 (&gt;K:KEY_PLUS, Keyevent) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>right_rotary_dec</label>
      <script>(L:fbw_knob_selector, Number) 1 == if{ (A:AUTOPILOT ALTITUDE LOCK VAR:3, Feet) (L:XMLVAR_Autopilot_Altitude_Increment) &gt;= if{ 3 (A:AUTOPILOT ALTITUDE LOCK VAR:3, Feet) (L:XMLVAR_Autopilot_Altitude_Increment) - (&gt;K:2:AP_ALT_VAR_SET_ENGLISH) } (L:fbw_knob_selector, Number) 3 == if{ 1 (&gt;K:HEADING_BUG_DEC) 1 (&gt;H:A320_Neo_CDU_AP_DEC_HEADING) (L:fbw_knob_selector, Number) 2 == if{ 1 (&gt;K:KEY_MINUS, Keyevent) } (L:fbw_knob_selector, Number) 5 == if{ 1 (&gt;K:KEY_MINUS, Keyevent) }</script>
    </Script>
    <Script>
      <group>FBW_A32nx</group>
      <label>left_rotary_crs</label>
      <script>4 (&gt;L:fbw_knob_selector, Number)</script>
    </Script>
  </scripts>
</TemplateExport>